.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
}

.left__text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0a3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #f3f5fc;
}